<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2NKgunAKriYgzkj62OoEanoDL8Den-6g</string>
	<key>GCM_SENDER_ID</key>
	<string>1045101896672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGforce.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gforce-42b39</string>
	<key>STORAGE_BUCKET</key>
	<string>gforce-42b39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045101896672:ios:b4717c36514e0360d40185</string>
</dict>
</plist>